<div id="deck-page">

	<div class="container-fluid">

			<h2 class="show-text">Deck Archive Page</h2>
			<hr>

			<div class="ui-widget">
			    <label for="tags" class="show-text">Search Card Name: </label>
			    <input id="tags" class="seach-card">
			</div>

	</div>

</div>