<div class="container-fluid">

	<h2>Card Edit Page</h2>
	<div class="ui-widget">
	    <label for="tags">Search Card Name: </label>
	    <input id="tags">
	</div>

	<div id="cards-area">
		<div id="card-info">
			<!-- Create Div to show card here -->
		</div>
	</div>

</div>

