<div class="container-fluid">

    <h2>Card Edit Page</h2>
	<div class="ui-widget">
	    <label for="tags">
	    	Search Card Name: 
	    </label>
	    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	    <input id="tags" class="seach-card">
	</div>

</div>

