/* General stuff */
.space {
	height: 5px;
	margin: 1px;
}
#divder {
	height:1px;
	border:none;color:#333;
	background-color:#333;
}
/* Edit Card page */
#edit-page{
	background-color: DimGrey;
	height: 1599px;
}
.show-text {
	color: AntiqueWhite;
}
#seach-card {
	color: MidnightBlue;
}
.form-horizontal {
	padding: 5px;
}
#card-info {
	width: 450px;
}
#submit-box {
	width: 445px;	
	color: DarkCyan;
}
#inputPower {
	width: 150px;
}
.wCard{
	background-color: PapayaWhip;
}
/* cube cards div */
.card{
    border-style: solid;
    border-width: 1px;
    width: 220px;
    height: 35px;
    padding: 4px;
    margin: 5px;
    color: PapayaWhip;
    font-size: 14px;
    font-style: bold;
}
/* Deck page */
#deck-page {
	background-color: LightSeaGreen;
	height: 1599px;	
}
#deck-box {
	width: 180px;	
	margin: 5px;
	color: Cornsilk;
}

.cards-count{
	display: inline-block;
}
#gap {
	height: 8px;
}
#notes-style {
	color: darkslategray;
}

#check-cards {
	height: 800px;
}

/* land button divs */
.land-button {
	height: 40px;
	width: 40px;
	margin-top: 2px;
	margin-right: 4px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .45;
}
.land-button:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    opacity: 1;
}
#white-mana {
	background-color: ivory;
}
#blue-mana {
	background-color: deepskyblue;
	color: ivory;
}
#black-mana {
	background-color: black;
}
#red-mana {
	background-color: firebrick;
}
#green-mana {
	background-color: green;
}
.land-card {
    width: 180px;
    height: 35px;
    padding: 4px;
    margin: 5px;
	color: LightSeaGreen;
    font-size: 16px;
}
#land-station {
	margin: auto;
	height: 35px;
}

#plains-count {
	color: ivory;
	font-size: 16px;
}
#island-count {
	color: darkblue;
	font-size: 16px;
}
#swamp-count {
	color: black;
	font-size: 16px;
}
#mountain-count {
	color: firebrick;
	font-size: 16px;
}
#forest-count {
	color: green;
	font-size: 16px;
}
#deck-button {
    width: 180px;
    height: 35px;
    padding: 4px;
    margin: 5px;
	color: grey;
    font-size: 16px;
    background-color: ivory;
}
.player-decks {
    border-style: solid;
    border-width: 1px;
    width: 220px;
    height: 35px;
    padding: 4px;
    margin: 5px;
    color: white;
    font-size: 14px;
    font-style: bold;
}