/* General stuff */
.space {
	height: 5px;
	margin: 1px;
}
/* Edit Card page */
#edit-page{
	background-color: DimGrey;
	height: 1599px;
}
.show-text {
	color: AntiqueWhite;
}
#seach-card {
	color: MidnightBlue;
}
.form-horizontal {
	padding: 5px;
}
#card-info {
	width: 450px;
}
#submit-box {
	width: 445px;	
	color: DarkCyan;
}
#inputPower {
	width: 150px;
}
.wCard{
	background-color: PapayaWhip;
}

.card{
    border-style: solid;
    border-width: 1px;
    width: 140px;
    color: PapayaWhip;
    padding: 2px;
    margin: 1px;
}
/* Deck page */
#deck-page {
	background-color: LightSeaGreen;
	height: 1599px;	
}
#deck-box {
	width: 150px;	
	color: Cornsilk;
	margin: 5px;
}
#inputDeckNotes {
	width: 200px;
}
.cards-count{
	display: inline-block;
}
#gap {
	height: 6px;
}
#notes-style {
	color: darkslategray;
}

#check-cards {
	height: 1000px;
}